<div class="page">
    <div class="page-header">
        <div class="logo">
            <img src="assets/template/logo.svg" />
        </div>
        <div class="toolbar">
            {{cliente.nome}}
            <button pButton class="button-blank" type="button" (click)="desconectar()" label="Desconectar"></button>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>Consulta Clínica</h2>
            <button pButton type="button" (click)="novaConsulta()" label="Nova Consulta"></button>
        </div>
        <div class="page-content">
            <p-table [value]="consultas">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Especialidade</th>
                        <th>Profissional</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-consulta>
                    <tr>
                        <td>{{consulta.medico.especialidade.nome}}</td>
                        <td>{{consulta.medico.nome}}</td>
                        <td>{{consulta.dia | date:'dd/MM/yyyy'}}</td>
                        <td>{{consulta.horario}}</td>
                        <td>
                            <button pButton class="button-blank" label="Desmarcar"
                                icon="pi pi-times" (click)="desmarcarConsulta(consulta.id)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>